* {
  margin: 0 !important;
  padding: 0 !important;
}

.cont {
  max-width: 800px !important;
  margin: 0 auto !important;
}

button {
  background-color: #98be20 !important;
}
section {
  background-color: #220102 !important;
}
