.logo {
  color: #a7cd53 !important;
}
nav ul li a i:hover {
  transform: scale(3) !important;
  /* color: red !important; */
}
.cont {
  max-width: 1000px !important;
  margin: 0 auto !important;
}
.h1Text {
  color: #8dd574 !important;
}
.centerAllItem {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.winnersDetails {
  text-align: center;
}

.prizeBox {
  background: linear-gradient(to bottom right, #105268, #06303d) !important;
  /* background-color: red !important; */
}
.textCol {
  color: #aee1dc !important;
}
.moneyPrize {
  margin-right: -100px;
}
.smallText {
  font-size: 10px !important;
}

.videoPage {
  background-color: #0b4052 !important;
}
.score {
  color: #f08e32 !important;
}
video {
  border: 10px solid #2e3031 !important;
}

.runningButton {
  background-color: #bbb9ba !important;
}
.winnerList {
  background-color: #bbb9ba !important;
}
