.logo {
  color: #a7cd53 !important;
}
nav ul li a i:hover {
  transform: scale(3) !important;
  /* color: red !important; */
}
.cont {
  max-width: 1000px !important;
  margin: 0 auto !important;
}
.h1Text {
  color: #8dd574 !important;
}
.centerAllItem {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
